.register{
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://images.pexels.com/photos/7599715/pexels-photo-7599715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    object-fit: cover;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm>label{
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal ;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}